/*Cascading Style Sheets (CSS)*/
body {
    background-color: #282c34;
    font-family: 'Courier New', Courier, monospace;
    color: #61dafb;
    text-align: center;
    margin: 0;
    padding: 40px 0; /* Adds padding at the top and bottom */
}

h1 {
    margin-bottom: 20px; /* Adds space between the heading and the clock */
}

.clock {
    display: inline-block;
    font-size: 48px;
    padding: 10px;
    border: 2px solid #61dafb;
    border-width: 2px 50px; /* 2px top/bottom, 50px left/right */
    border-radius: 10px;
}

#time {
    font-size: 64px;
    font-style: italic;
    font-weight: bold;
}
